
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universities Merit</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
        <header>
            
            <h1>University Merit Calculator </h1>
            <nav class="navbar">
                <ul class="nav-list">
                    <li><a href="/ehome">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li class="dropdown">
                        <a href="#services" class="dropbtn">Universities Info</a>
                        <div class="dropdown-content">
                            <a href="#webdesign">Nust</a>
                            <a href="#development">Comsats</a>
                            <a href="#seo">Lums</a>
                        </div>
                    </li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
        <section id="home">
            <div class="container text-center bg-white p-3 rounded shadow-sm" style="max-width: 400px;">
                <h3 class="mb-3">Merit Calculator</h3>
                <p class="mb-4">Select your University</p>
                <div class="d-flex justify-content-center gap-2">
                    <a href="/nust" class="btn btn-primary btn-sm">NUST</a>
                    <a href="/comsats" class="btn btn-secondary btn-sm">Comsats</a>
                    <a href="/ehome" class="btn btn-success btn-sm">LUMS</a>
                </div>
            </div>
        </section>
    </main>

        <footer>
            <p>&copy; 2024 My Web Page. All rights reserved.</p>
        </footer>

    </body>
</html>



   

   
        
    

    
